<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithms Performance Visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        function setFormAction(action) {
            const form = document.getElementById('sortForm');
            if (action === 'performance') {
                form.action = "{{ url_for('visualize') }}";
            } else if (action === 'animate') {
                form.action = "{{ url_for('visualize_animation') }}";
            } else if (action === 'search') {
                form.action = "{{ url_for('visualize_linear_search') }}";
            } else if (action === 'search performance') {
                form.action = "{{ url_for('visualize_linear_search_performance') }}";
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <h1>Algorithms Performance Visualizer</h1>
        <form id="sortForm" action="{{ url_for('visualize') }}" method="POST">
            <label for="size">Array Size:</label>
            <input type="number" class="input" id="size" name="size" min="2">

            <h2 class="header_1">Select Sorting Algorithms to Visualize</h2>
            <div class="algorithm-grid">
                <label><input type="checkbox" name="algorithms" value="Bubble Sort"> Bubble Sort</label>
                <label><input type="checkbox" name="algorithms" value="Merge Sort"> Merge Sort</label>
                <label><input type="checkbox" name="algorithms" value="Quick Sort"> Quick Sort</label>
                <label><input type="checkbox" name="algorithms" value="Radix Sort"> Radix Sort</label>
            </div>

            <div class="algorithm-grid">
                <button type="submit" class="btn" name="action" value="performance"
                    onclick="setFormAction('performance')">Visualize Sorting Performance</button>
                <button type="submit" class="btn" name="action" value="animate"
                    onclick="setFormAction('animate')">Visualize Sorting Steps</button>
                <button type="submit" class="btn" name="action" value="search"
                    onclick="setFormAction('search')">Visualize Linear Search</button>
                <button type="submit" class="btn" name="action" value="search performance"
                    onclick="setFormAction('search performance')">Visualize Linear Search Performance</button>
            </div>
        </form>
    </div>
</body>

</html>